# Core scientific libraries
pandas==1.5.3
numpy==1.23.5

# Machine learning and modeling
scikit-learn==1.2.2
imbalanced-learn==0.10.1

# Plotting and visualization
matplotlib==3.7.1
seaborn==0.12.2

# Model persistence
joblib==1.2.0
